body{
    margin: 0;
}

.container{
    background: url("Layout_1.png") center;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
    height: 1000px;
    width: 100%;
}

.tenfold_btn{
    position: fixed;
    bottom: 72px;
    right: 73px;
    /* btn: */
    background: #00A1E0;
    box-shadow: 10px 10px 30px 0px rgba(0,0,0,0.20), 0px 0px 0px 7px rgba(0,0,0,0.05);
    border-color: transparent;
    border-radius: 100px;
    height: 70px;
    width: 70px;
}

.tenfold_btn svg {
    display: block;
    margin: auto;
    text-align: center;
    vertical-align: middle;
}

.popup-bg{
    /* popup-bg: */
    background: #FFFFFF;
    box-shadow: 10px 10px 30px 0px rgba(0,0,0,0.20), 0px 0px 0px 7px rgba(0,0,0,0.05);
    border-radius: 5px;
    width: 599px;
    height: 409px;
    position: fixed;
    bottom: 69px;
    right: 56px;
    display: none;
}

.popup-bg-top{
    position: fixed;
    bottom: 347px;
    right: 56px;
    border-radius: 5px 5px 0 0;
    background: #F9F9F9;
    width: 598.6px;
    height: 131px;
    z-index: -1;
}

.popup-bg-bottom{
    position: fixed;
    bottom: 69px;
    right: 56.4px;
    border-radius: 0 0 5px 5px;
    background: #EBEFF2;
    width: 598.6px;
    height: 119px;
    z-index: -1;
}

.popup-logo{
    position: fixed;
    bottom: 459px;
    right: 589px;
    width: 54px;
    height: 10px;
}

.popup-close{
    position: fixed;
    bottom: 449px;
    right: 70px;
    height: auto;
    width: auto;
    border-color: transparent;
    background-color: transparent;
    padding: 0;
}

.popup-close svg{
    text-align: center;
}

#popup-firstrow{
    position: fixed;
    bottom: 405px;
    right: 86px;
    width: 540px;
    display: inline-block;
}

.popup-back{
    width: auto;
    height: 39px;
    display: inline-block;
    vertical-align: middle;
}

.popup-back-icon{
    bottom: 407.13px;
    right: 583.13px;
    width: 38.87px;
    height: 38.87px;
    display: inline-block;
    vertical-align: middle;
}

.popup-back-icon svg{
    text-align: center;
}

.popup-back p{
    font-family: TitilliumWeb-Light;
    font-size: 14px;
    color: #666666;
    display: inline-block;
    vertical-align: middle;
    margin-left: 11px;
}


.popup-call-info{
    width: auto;
    height: 43px;
    display: inline-block;
    vertical-align: middle;
    float: right;
    padding-top: 5px;
}

.popup-call-info-phone-icon{
    width: 38.87px;
    height: 38.87px;
    display: inline-block;
    vertical-align: middle;
}

.popup-call-info-phone-icon svg{
    text-align: center;
}

.popup-call-info-time{
    font-family: TitilliumWeb-Thin;
    font-size: 42px;
    color: #666666;
    letter-spacing: -1.75px;
    line-height: 32px;
    display: inline-block;
    vertical-align: middle;
    margin: 0;
}

.popup-call-info-calls{
    display: inline-block;
    vertical-align: middle;
}

.popup-call-info-incall{
    width: 59px;
    height: 20px;
    background: #00D95A;
    border-radius: 4px;
    display: block;
}

.popup-call-info-incall p{
    font-family: HelveticaNeue-Bold;
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 0px;
    text-align: center;
    vertical-align: middle;
    margin: 0;
}

.popup-call-info-outcall{
    width: 127px;
    height: 20px;
    background: #CCCCCC;
    border-radius: 4px;
    display: block;
}

.popup-call-info-outcall p{
    font-family: HelveticaNeue-Bold;
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 0px;
    text-align: center;
    vertical-align: middle;
    margin: 0;
}

.popup-name-status{
    position: fixed;
    bottom: 367px;
    right: 493px;
    height: 14px;
    width: 10px;
}

.popup-name-status svg{
    text-align: center;
}

.popup-name{
    position: fixed;
    bottom: 356px;
    right: 345px;
}

.popup-name p{
    font-family: TitilliumWeb-Light;
    font-size: 22px;
    color: #666666;
    margin: 0;
    padding: 0;
}

.popup-phone{
    position: fixed;
    bottom:359px;
    right: 87px;
}

.popup-phone a{
    font-family: TitilliumWeb-Light;
    font-size: 22px;
    color: #00A1E0;
    margin: 0;
    padding: 0;
}

.popup-photo{
    position: fixed;
    bottom: 300px;
    right: 527px;
    width:89px;
    height: 89px;
    border: 1px solid #CCCCCC;
    border-radius: 100px;
    background: #FFFFFF;
    z-index: 1;
}

.popup-fields{
    position: fixed;
    bottom: 303px;
    right: 86px;
    width: 418px;
    height: 37px;
}

.popup-fields-text{
    position: fixed;
    bottom: 303px;
    width: auto;
    height: 37px;
    margin-left: 6px;
    display: inline-block;
}

.popup-fields-text p{
    font-family: TitilliumWeb-Light;
    font-size: 14px;
    color: #666666;
    margin: 0;
    padding: 0;
}

.popup-fields-text a{
    font-family: Helvetica;
    font-size: 13px;
    color: #AAAAAA;
    margin: 0;
    padding: 0;
}

.popup-fields-icon{
    position: fixed;
    bottom: 325px;
    right: 496px;
    width: 8px;
    height: 8px;
    display: inline-block;
}

.popup-fields-icon svg{
    text-align: center;
}

.popup-history{
    position: fixed;
    bottom: 213px;
    right: 90px;
    width: 513px;
    height: 103px;
}

.popup-history-icon{
    position: fixed;
    bottom: 213px;
    right: 541px;
    width: 62px;
    height: 103px;
}

.popup-history-icon svg{
    text-align: center;
}

.popup-history-log{
    position: fixed;
    bottom: 223px;
    right: 394px;
    width: 127px;
    height: 44px;
}

.popup-history-log-calltype{
    position: fixed;
    bottom: 247px;
    right: 394px;
    width: 127px;
    height: 20px;
    background: #CCCCCC;
    border-radius: 4px;
}

.popup-history-log-calltype p{
    font-family: HelveticaNeue-Bold;
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 0px;
    text-align: center;
    vertical-align: middle;
    margin: 0;
}

.popup-history-log-timeicon{
    position: fixed;
    bottom: 226.1px;
    right: 505.1px;
    width: 14.9px;
    height: 14.9px
}

.popup-history-log-time{
    position: fixed;
    bottom: 223px;
    right: 427px;
}

.popup-history-log-time p{
    font-family: TitilliumWeb-Light;
    font-size: 14px;
    color: #666666;
    margin: 0;
    padding: 0;
}

.popup-history-log-timeicon svg{
    text-align: center;
}

.popup-history-call-history{
    position: fixed;
    bottom: 270px;
    right: 90px;
    width: 108px;
    height: 21px;
    display: inline-block;
}

.popup-history-call-history p{
    font-family: TitilliumWeb-Light;
    font-size: 14px;
    color: #666666;
    margin: 0;
    display: inline-block;
    vertical-align: middle;
}

.popup-history-call-history-icon{
    width: 9px;
    height: 6px;
    display: inline-block;
}

.popup-history-call-history-icon svg{
    text-align: center;
}

.popup-history-dispositions{
    position: fixed;
    bottom: 225px;
    right: 91px;
    width: 139px;
    height: 40px;
    display: inline-block;
}

.popup-history-dispositions-followup{
    width: auto;
    height: auto;
    display: inline-block;
}

.popup-history-dispositions-followup svg{
    text-align: center;
}

.popup-history-dispositions-notes{
    width: 19px;
    height: 20px;
    display: inline-block;
}

.popup-history-dispositions-notes svg{
    text-align: center;
}

.popup-history-text{
    font-family: TitilliumWeb-Light;
    font-size: 14px;
    color: #666666;
}



.popup-fields-link{
    font-family: Helvetica-Regular;
    font-size: 13px;
    color:#AAAAAA;
}



